@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #18191F;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main {
    flex: 1 1 auto;
}

/* Header styles */

.header {
    background-color: #171717;
    height: 72px;
}

.header__container {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 14px;
}

.header__logo {
    width: 260px;
    height: 35px;
}

.header__logo img {
    width: 260px;
    height: 35px;
}

@media (max-width: 400px) {
    .header__logo {
        width: 200px;
        height: 27px;
    }
    
    .header__logo img {
        width: 200px;
        height: 27px;
    }
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__item:not(:last-child) {
    margin-right: 32px;
}

.nav__link {
    text-decoration: none;
    color: white;
}

.nav__link:hover {
    color: #0090DD;
}

.nav-actions {
    display: flex;
    list-style-type: none;
}

.nav-actions__item:not(:last-child) {
    margin-right: 25px;
}

.nav-actions__item--rounded {
    border: 1px solid #FFFFFF;
    padding: 6px 12px;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.button {
    padding: 10px 20px;
    background-color: #0090DD;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease 0s;
}

.button:hover {
    background-color: #0272ad;
}

@media (max-width: 1110px) {
    .header__container {
        padding: 0 1rem;
    }
}

@media (max-width: 932px) {
    .nav {
        display: none;
    }
}

@media (max-width: 550px) {
    .nav-actions__item {
        display: none;
    }
}

/* Main styles */

.intro {
    background-image: linear-gradient(to right, #171717 5%, #17171700) , url('../img/thermo_king_main_background.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.intro__container {
    display: flex;
    height: 85vh;
    flex-direction: column;
    justify-content: center;
}

.intro__content {
    max-width: 730px;
    color: white;
}

.intro__title {
    font-weight: bold;
    font-size: 3.2em;
    line-height: 1.3em;
    padding-bottom: 16px;
}

.intro__subtitle {
    padding-bottom: 32px;
}

@media (max-width: 1110px) {
    .intro__container {
        padding: 0 1rem;
    }

    .intro__title {
        font-size: 2.8em;
    }
}

@media (max-width: 800px) {
    .intro__content {
        max-width: 80%;
    }
    .intro__title {
        font-size: 2.2em;
    }

    .intro__subtitle {
        font-size: 16px;
        line-height: 1.5em;
    }
}

@media (max-width: 640px) {
    .intro__title {
        font-size: 1.8em;
    }

    .intro__subtitle {
        font-size: 16px;
        line-height: 1.5em;
    }
}

@media (max-width: 535px) {
    .intro__container {
        height: 65vh;
    }

    .intro__content {
        max-width: 90%;
    }
    
    .intro__title {
        font-size: 1.5em;
    }

    .intro__subtitle {
        font-size: 14px;
        line-height: 1.5em;
    }
}

.about__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 44px 0 64px 0;
}

@media (max-width: 1110px) {
    .about__container {
        padding: 44px 1rem 64px 1rem;
    }
}

@media (max-width: 542px) {
    .about__container {
        justify-content: flex-start;
    }
}

/* About item styles */

.about__item {
    width: 255px;
    height: 106px;
    border-left: #0090DD solid 3px;
    padding-left: 16px;
    margin-top: 20px;
}

.item__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}

.item__subtitle {
    font-size: 16px;
}

/* Brands section styles */

.brands__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 0 93px 0;
}

@media (max-width: 1110px) {
    .brands__container {
        padding: 0px 1rem 93px 1rem;
    }
}

.brands__subtitle {
    width: 100%;
}

.brands__item {
    width: 540px;
    height: 169px;
    margin-top: 36px;
}

.brands__item--image {
    width: auto;
    max-height: 77px;
}

.brands__item--text {
    font-size: 16px;
    line-height: 26px;
}

@media (max-width: 1110px) {
    .brands__item {
        width: auto;
        height: auto;
        max-width: 400px;
        margin-right: 20px;
    }
}

@media (max-width: 870px) {
    .brands__item {
        max-width: 350px;
    }
    .brands__item--image {
        max-height: 70px;
    }
}

@media (max-width: 775px) {
    .brands__item {
        max-width: 100%;
    }
}

@media (max-width: 380px) {
    .brands__item--image {
        max-height: 50px;
    }
    .brands__item--text {
        font-size: 14px;
    }
}


/* Footer styles */

.footer {
    background-color: #0055A4;
}


[class*="__container"] {
    max-width: 1110px;
    margin: 0 auto;
}